<form class="form popup-form">
    <app-activity-select
        (activityId)="onActivityIdChange($event)"
        (activityIdIsInvalid)="activityIdIsInvalid"
        [shouldDisplayFeedback]="shouldDisplayFeedback">
    </app-activity-select>
    <app-days-of-week-input 
        (daysOfWeek)="onDaysOfWeekChange($event)"
        (daysOfWeekAreValid)="daysOfWeekAreValid"
        [shouldDisplayFeedback]="shouldDisplayFeedback">
    </app-days-of-week-input>
    <app-start-and-end-time-input 
        (startTime)="onStartTimeChange($event)" 
        (endTime)="onEndTimeChange($event)"
        (timesAreValid)="timesAreValid"
        [shouldDisplayFeedback]="shouldDisplayFeedback">
    </app-start-and-end-time-input>
    <div class="buttons">
        <app-cancel-button (click)="cancel()"></app-cancel-button>
        <div class="button" (click)="submit()">
            Create
        </div>
    </div>
</form>