@import '../../../../_variables.scss';

div.popup-body{
    display: flex;
    flex-direction: column;

    div.top{
        display: flex;
        justify-content: flex-end;
    }

    div.bottom{
        margin-top: calc(1.2rem + 0.5vw);
        overflow-y: scroll;

        ul{
            margin: 0 calc(0.4rem + 0.2vw);

            li{
                display: flex;
                align-items: center;
                padding: 0 0 calc(0.51rem + 0.25vw) calc(0.7rem + 0.3vw);
                border-bottom: calc(0.1rem) solid $grey2;

                &:not(:first-of-type){
                    padding-top: calc(0.51rem + 0.25vw);
                }
                
                span.name{
                    color: $white;
                    font-weight: 500;
                    font-size: calc(1.4rem + 0.3vw);
                    letter-spacing: calc(0.055rem + 0.01vw);
                }

                div.action-buttons{
                    padding-left: calc(1.6rem + 0.5vw);
                    transform: translateY(calc(0.02rem + 0.01vw));

                    span{
                        font-weight: 300;
                        font-size: calc(0.87rem + 0.24vw);
                        letter-spacing: calc(0.045rem + 0.01vw);
                        color: $blue;
                        cursor: pointer;

                        &:first-of-type{
                            margin-right: calc(0.6rem + 0.2vw);
                        }
                    }
                }
            }
        }
    }
}