form.form{

    div.form-control{
        margin-bottom: calc(0.8rem + 0.5vw);

        textarea{
            height: calc(5.8rem - 2vw);
        }
    }

    div.buttons{
        margin-top: calc(0.2rem + 2vw);
        padding-left: calc(0.3rem + 0.2vw);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}