$grey1: #696E74;
$grey2: #949596;
$darkBlue1:#292E33;
$darkBlue2: #2E3338;
$black: #000000;
$offWhite: #FAFAFA;
$white: #FFFFFF;
$purple: #A200BF;
$yellow1: #E6C300;
$yellow2: #FACB06;
$red1: #B5262E;
$green2: #008516;
$green1: #00BF20;
$blue: #006BE0;