@import './styles/_button.scss';
@import './styles/_form.scss';

@font-face {
    font-family: Figtree;
    src: url(assets/fonts/Figtree/Figtree-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: Figtree;
    font-style: italic;
    src: url(assets/fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
    overflow: hidden;
    user-select: none;
}