p.p strong{
    font-weight: 500;
}

p.p:nth-of-type(2){
    margin-top: calc(0.5rem + 1.25vw);
}

div.buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: calc(3rem + 2vw);

    div.button-red{
        margin-right: calc(1rem + 1vw);
    }
}