<div class="form-control">
    <label for="days-of-week">Days of Week</label>
    <div class="days-of-week" id="days-of-week">
        <div role="checkbox" 
            class="day-of-week" 
            [ngClass]="{ 'invalid': feedbackIsVisible(), 'active': internalWeekDays.get(0) }"
            (click)="toggleWeekDay(0)">
            Sun
        </div>
        <div role="checkbox" 
            class="day-of-week" 
            [ngClass]="{ 'invalid': feedbackIsVisible(), 'active': internalWeekDays.get(1) }"
            (click)="toggleWeekDay(1)">
            Mon
        </div>
        <div role="checkbox" 
            class="day-of-week" 
            [ngClass]="{ 'invalid': feedbackIsVisible(), 'active': internalWeekDays.get(2) }"
            (click)="toggleWeekDay(2)">
            Tue
        </div>
        <div role="checkbox" 
            class="day-of-week" 
            [ngClass]="{ 'invalid': feedbackIsVisible(), 'active': internalWeekDays.get(3) }"
            (click)="toggleWeekDay(3)">
            Wed
        </div>
        <div role="checkbox" 
            class="day-of-week" 
            [ngClass]="{ 'invalid': feedbackIsVisible(), 'active': internalWeekDays.get(4) }"
            (click)="toggleWeekDay(4)">
            Thu
        </div>
        <div role="checkbox" 
            class="day-of-week" 
            [ngClass]="{ 'invalid': feedbackIsVisible(), 'active': internalWeekDays.get(5) }"
            (click)="toggleWeekDay(5)">
            Fri
        </div>
        <div role="checkbox" 
            class="day-of-week" 
            [ngClass]="{ 'invalid': feedbackIsVisible(), 'active': internalWeekDays.get(6) }"
            (click)="toggleWeekDay(6)">
            Sat
        </div>
    </div>
    <span class="feedback" [ngClass]="{'hidden': !feedbackIsVisible()}">
        You must select at least one day
    </span>
</div>