<div class="form-control-group">
    <div class="controls-wrapper">
        <div class="form-control">
            <label for="start">Start</label>
            <input
                [(ngModel)]="startTimeString"
                type="time" 
                name="start" 
                id="start"
                (change)="onStartTimeChange()"
                [ngClass]="{'invalid' : feedbackIsVisible() }">
        </div>
        <div class="form-control">
            <label for="end">End</label>
            <input
                [(ngModel)]="endTimeString"
                type="time" 
                name="end" 
                id="end"
                (change)="onEndTimeChange()"
                [ngClass]="{'invalid' : feedbackIsVisible() }">
        </div>
    </div>
    <span class="feedback" [ngClass]="{ 'hidden': !feedbackIsVisible() }">
        {{ getFeedBackMessage() }}
    </span>
</div>
<div class="form-control">
    <label for="duration">Duration</label>
    <input type="text" name="duration" id="duration" value="{{ internalDuration | duration }}" readonly>
    <span class="feedback hidden"></span>
</div>