@import '../../../../_variables.scss';

div#backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    opacity: 0.49;
}
div.popup{
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: calc(0.7rem + 0.5vw);
    overflow: hidden;
    width: min(calc(31rem + 5vw), calc(1rem + 85vw));
    color: $white;

    div.head{
        background-color: $darkBlue1;
        $head-height: calc(3.5rem + 0.8vw);
        height: $head-height;

        div.wrapper{
            position: fixed;
            height: $head-height;
            display: flex;
            align-items: center;

            &.wrapper-left{
                left: calc(0.57rem + 3vw);

                div.content-left{
                    height: calc(3.6rem - 0.45vw) ;
                    position: fixed;
                    display: flex;
                    align-items: center;
                    font-size: calc(1rem + 0.8vw);
                    font-weight: 500;
                    letter-spacing: calc(0.03rem + 0.01vw);
                }
            }

            &.wrapper-right{
                right: calc(0.57rem + 3vw);

                div.content-right{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        cursor: pointer;
        
                        span{
                            font-size: calc(0.73rem + 0.31vw);
                            letter-spacing: calc(0.05rem + 0.01vw);
                        }
        
                        img{
                            padding-left: calc(0.08rem + 0.04vw);
                            max-width: calc(0.9rem + 0.5vw);
                            transform: translateY(calc(0.04rem + 0.02vw));
                        }
                    }
                }
            }
        }
    }

    div.body{
        background-color: $darkBlue2;
        padding: calc(1rem + 2vw) calc(0.7rem + 3.3vw);
    }
}